@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-5">List available Quiz</h1>

<div class="card quiz-card">
    <div class="card-body">
        <h5 class="card-title">Some title</h5>
        <p class="card-text">Some description</p>
        <a href="#" class="btn btn-primary">Take</a>
    </div>
</div>


